$white:#FFFFFF;
$textColour:#00303e;
$textColourLight:#4a7071;
$black:#1d1d1b;
$darkGrey:#c7cfda;
$grey:#f4f5f9;
$lightGrey:#f3f4f6;
$orange:#ff671c;
$green:#16a086;
$red:#e84c3d;
$blue:#3598db;
$darkGreen:#00303c;




/*LAYOUT*/

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Maven Pro', sans-serif;
	font-weight:500;
	line-height:normal;
	margin-bottom:10px;
}

h1 {
	font-size:28px;
}

h2 {
	font-size:24px;
}

h3 {
	font-size:21px;
}

h4 {
	font-size:19px;
}

h5 {
	font-size:17px;
}

h6 {
	font-size:16px;
}

p {
	line-height:normal;
	margin-bottom:10px;
}
img {
	border:0;
	height:auto;
	max-width:100%;
	&.alignleft {
		clear:left;
		float:left;
		margin:0 10px 0 0;
	}
	&.aligncenter {
		display:block;
		margin:0 auto 10px auto;
	}
	&.alignright {
		display:block;
		margin:0 auto 10px auto;
	}
}
strong {
	font-weight:900;
}
em {
	font-style:italic;
}
ul {
	list-style-type:disc;
	margin:8px 0 8px 15px;
	li {
		margin-bottom:5px;
	}
}
ol {
	list-style-type:decimal;
	margin:8px 0 8px 15px;
	li {
		margin-bottom:5px;
	}
}
blockquote {
	background:$orange;
	color:$white;
	font-size:17px;
	line-height:normal;
	margin:30px 0;
	padding:15px;
	text-align:center;
	text-transform:uppercase;
	p {
		margin-bottom:0;
	}
}
a {
	color:inherit;
	text-decoration:none;
	transition:all 0.1s ease-in-out;
	&:hover,
	&:active,
	&:focus {
		color:$orange;
		text-decoration:none;
	}
	&.link {
		background:$orange;
		border:0;
		border-radius:3px;
		color:$white;
		display:inline-block;
		float:left;
		font-weight:600;
		padding:7px 18px;
		max-width:200px;
		text-align:center;
		&.grey {
			background:$lightGrey;
			color:$textColour;
		}
		&.white {
			background:$white;
			color:$textColour;
		}
		&.grey-white {
			background:$darkGrey;
			color:$white;
		}
		&:hover {
			background:$blue;
			color:$white;
		}
	}
}
input[type="submit"] {
	background:$orange;
	border:0;
	border-radius:4px;
	color:$white;
	display:block;
	font-size:18px;
	font-weight:600;
	padding:5px 20px;
	margin:10px auto 0 auto;
	max-width:200px;
	text-align:center;
	transition:all 0.1s ease-in-out;
	&:focus {
		outline-width:0
	}
	&:hover {
		background:$black;
	}
}
body {
	background:#f4f5f9;
	color:$black;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:14px;
	font-weight:400;
	line-height:normal;
	margin-bottom:65px;
	margin-top:120px;
}
#cookie-notice .button.bootstrap {
	background-color:$white;
	background-image:none;
	border:0;
	color:$black;
}
#cookie-notice .button.bootstrap:hover,
#cookie-notice .button.bootstrap:focus {
	background-color:#FFF;
	color:#000;
}
.narrow {
	margin:0 auto;
	max-width:700px;
}
.top-link-bar {
	background:$darkGrey;
	display:inline-block;
	float:left;
	width:100%;
	ul {
		display:inline-block;
		float:left;
		list-style-type:none;
		margin:0;
		padding:10px 0;
		width:100%;
		li {
			float:left;
			font-size:11px;
			font-weight:600;
			margin-bottom:0;
			padding-right:12px;
			a {
				&:hover {
					color:$orange;
				}
			}
			&.active {
				a {
					color:$orange;
				}
			}
			&:last-child {
				padding-right:0;
			}
		}
	}
}
/*END OF LAYOUT*/

/*SELECT BOX*/

* {
  box-sizing:border-box;
}
.center-box {
	width:200px;
	margin: 40px auto;
}
.ui-select {
	position: relative;
	height: 45px;
	width:100%;
	background:#fff;
}
.ui-select > span {
	color:$textColour;
	font-size:17px;
	font-weight:600;
	padding: 12px;
	display: block;
	cursor: pointer;
	border-bottom: 1px solid #BBB;
}
.ui-select ul {
	list-style: none;
	padding: 0;
	margin: 0;
	transform-origin: top;
	animation-fill-mode: forwards;
	-webkit-transform: scaleY(0);
	display: block;
	transition: all .1s ease-out;
	box-shadow: 0 2px 3px 0 rgba(34,36,38,.15)!important;
	width: 100%;
	background:#fff;
	max-height: 500px;
	overflow-y: auto;
	position: relative;
	z-index: 10000;
	border:1px solid $orange;
	margin-top: -1px;
	border-top:none;
}
.ui-select li {
	cursor: pointer;
	padding: 10px;
}
.ui-select li:hover {
	background: #f1f1f1;
}
.ui-select.open>span {
	border: 1px solid $orange;

}
.ui-select.open ul {
	transform: scale(1); 
}

.ui-select.open li.selected {
	background: #BBB;
}
.ui-select ul li {
	transform: translate(0px, -20px);
	opacity: 0;
}
.open.ui-select ul li {
	transform: translate(0px, 0px);
	transition: all .4s;
	opacity: 1;
}
.ui-select > span:after {
	float: 	right;

}

/*END OF SELECT BOX*/

/*FOOTER*/

.top-footer {
	background:$white;
	margin-top:30px;
	.footer-images {
		padding:20px 0;
		.slick-slide {
			height:80px;
			outline-width:0;
			padding:40px 1% 0 1%;
			img {
				position:relative;
				transform:translateY(-50%);
			}
		}
	}
}
footer {
	background:$darkGreen;
	color:$white;
	padding:10px 0;
	text-align:center;
	a {
		color:$white;
	}
	.left {
		img {
			display:block;
			margin:0 auto 20px auto;
		}
	}
	.right {
		margin-top:20px;
		.social {
			display:block;
			float:none;
			margin:20px auto 0 auto;
			max-width:150px;
			a {
				border-radius:100%;
				display:block;
				float:left;
				margin-left:6px;
				padding:15px;
				position:relative;
				&.facebook {
					background:#3b5998;
				}
				&.twitter {
					background:#1da1f2;
				}
				&.youtube {
					background:#ff0000;
				}
				&.linkedin {
					background:#0077b5;
				}
				i.fa {
					font-size:16px;
					left:50%;
					position:absolute;
					top:55%;
					transform:translate(-50%,-55%);
				}
				&:hover {
					background:$orange;
					color:$white;
				}
			}
		}
		form.subscribe {
			line-height:11px;
			input[type="text"] {
				border:0;
				border-radius:4px;
				height:40px;
				max-width:400px;
				padding-left:15px;
				width:100%;
			}
			input[type="submit"] {
				background:$orange;
				border-radius:4px;
				border:0;
				color:$white;
				font-weight:600;
				height:40px;
				margin-top:10px;
				padding:0 22px;
				text-transform:none;
			}
			input[type="checkbox"] {
				display:block;
				height:15px;
				margin:10px auto 0 auto;
				width:15px;
			}
			label {
				font-size:10px;
			}
			::placeholder {
				color:#999;
			}
		}
	}
}

/*END OF FOOTER*/

/*NAVIGATION*/

header.header {
	background:$white;
	box-shadow:0 0 0 0 $black;
	color:$black;
	min-height:120px;
	padding:0 0 10px 0;
	position:fixed;
	top:0;
	transition:all 0.4s ease-in-out;
	width:100%;
	z-index:999;
	.top-header {
		background:$orange;
		color:$white;
		font-size:12px;
		padding:8px 0;
		text-align:center;
		a {
			color:$white;
		}
		.right {
			margin-top:0;
			img.user-icon {
				margin-left:10px;
				max-width:20px;
				position:relative;
				top:6px;
			}
		}
	}
	.main-header {
		.logo {
			font-size:18px;
			margin:10px auto 0 auto;
			position:relative;
			text-align:center;
			img {
				display:block;
				float:none;
				margin:0 auto;
				max-width:78px;
			}
		}
		nav.menu {
			background:$white;
			display:inline-block;
			float:right;
			left:0;
			opacity:0;
			position:absolute;
			text-transform:uppercase;
			top:-300px;
			transition:top 0.2s, opacity 0.4s ease-in-out;
			visibility:hidden;
			width:100%;
			z-index:-1;
			ul {
				display:inline-block;
				float:left;
				list-style-type:none;
				margin:0 auto;
				padding:8px 0 10px 0;
				width:100%;
				li {
					float:left;
					font-size:16px;
					font-weight:600;
					position:relative;
					text-align:center;
					text-transform:uppercase;
					width:100%;
					a {
						border-bottom:0px solid $black;
						color:$black;
						display:block;
						padding:12px;
						text-decoration:none;
					}
					&.menu-item-has-children {
						i.nav-dropdown {
							color:$orange;
							cursor:pointer;
							font-size:18px;
							position:absolute;
							right:30px;
							top:14px;
						}
					}
					ul.sub-menu {
						display:none;
					}
				}
			}
			&.active {
				box-shadow:0 25px 50px -30px #000000;
				opacity:1;
				top:70px;
				visibility:visible;
				ul {
					li {
						a {
							color:$black;
							&:hover {
								color:$black;
							}
						}
					}
				}
				&.nav-up {
					top:200px;
				}
				&.nav-down {
					top:110px;
				}
			}
		}
		&.header-up {
			top:-200px;
		}
		&.header-down {
			box-shadow:0 0 50px -10px #000000;
			top:0;
		}
		i.nav-icon {
			color:$darkGreen;
			cursor:pointer;
			font-size:40px;
			left:15px;
			position:absolute;
			top:70px;
			transition:all 0.2s ease-in-out;
			&.active {
				color:$black;
				transform:rotate(-45deg);
			}
		}
		.cart-block {
			position:absolute;
			right:15px;
			top:12px;
			.left {
				i.fa {
					color:$darkGreen;
					font-size:40px;
				}
			}
			.right {
				display:none;
			}
		}
	}
}

/*END OF NAVIGATION*/

/*NEWS LISTING PAGE*/

.news-listing {
	clear:both;
	padding-top:20px;
	.category-filter {
		display:inline-block;
		width:100%;
		.category-item {
			float:left;
			margin-bottom:10px;
			width:50%;
			label {
				background:$darkGrey;
				border-radius:20px;
				color:$white;
				cursor:pointer;
				display:block;
				margin-right:2%;
				padding:5px 20px 5px 15px;
				position:relative;
				transition:all 0.1 ease-in-out;
				width:90%;
				&:after {
					color:$white;
					content:"\f05c";
					font-family:FontAwesome;
					font-size:20px;
					position:absolute;
					right:10px;
					top:50%;
					transform:translateY(-50%);
				}
			}
			input[type="radio"]:checked {
				& + label {
					opacity:0.7;
					&:after {
						content:"\f05d";
					}
				}
			}
			input[type="radio"] {
				display:none;
			}
		}
	}
	.item {
		margin-bottom:10px;
		padding-left:5px;
		padding-right:5px;
		transform: scale(1);
		.inner {
			box-shadow:0 0 0 -10px $black;
			transition:all 0.1s ease-in-out;
			img {
				float:left;
			}
			.content {
				background:$white;
				display:inline-block;
				padding:10px;
				width:100%;
				h2 {
					font-size:16px;
					margin-bottom:0;
				}
				a.article-link {
					display:block;
					font-weight:600;
					margin-top:10px;
				}
			}
		}
		&:hover {
			.inner {
				box-shadow:0 0 25px -10px $black;
			}
		}
	}
}

/*END OF NEWS LISTING PAGE*/

/*NEWS DETAIL PAGE*/

.news-detail {
	padding-top:60px;
	img.wp-post-image {
		display:block;
		margin:20px auto 20px auto;
	}
}
.similar-posts {
	margin-top:40px;
	.items {
		h2 {
			margin-bottom:20px;
			text-align:center;
		}
		.item {
			margin-bottom:10px;
			padding-left:5px;
			padding-right:5px;
			transform: scale(1);
			.inner {
				box-shadow:0 0 0 -10px $black;
				transition:all 0.1s ease-in-out;
				img {
					float:left;
				}
				.content {
					background:$white;
					display:inline-block;
					padding:10px;
					width:100%;
					h3 {
						font-size:16px;
						margin-bottom:0;
					}
					a.article-link {
						display:block;
						font-weight:600;
						margin-top:10px;
					}
				}
			}
			&:hover {
				.inner {
					box-shadow:0 0 25px -10px $black;
				}
			}
		}
	}
}

/*END OF NEWS DETAIL PAGE*/

/*FAQS PAGE*/

.faqs {
	position:relative;
	max-width:100%;
	height:auto;
	margin:10px auto;
	.set {
		background:$white;
		box-shadow:0 0 13px -7px $black;
		margin-bottom:10px;
		position:relative;
		width:100%;
		height:auto;
		& > a {
			display:block;
			padding:10px 15px;
			text-decoration:none;
			color:#555;
			font-weight:600;
			transition:all 0.2s linear;
			i {
				float:right;
				margin-top:2px;
			}
			&.active {
				background-color:$white;
				color:$black;
			}
		}
		
		.content {
			background-color:$white;
			border-bottom: 1px solid transparent;
			box-shadow:0 4px 8px -6px $black;
			display:none;
			padding:10px 0 0 15px;
		}
	}
}

/*END OF FAQS PAGE*/

/*FULL WIDTH IMAGE*/

.full-width-image {
	img {
		display:block;
		margin:0 auto;
	}
}

/*END OF FULL WIDTH IMAGE*/

/*ALTERNATING CONTENT BLOCKS*/


.grid-flex {
	display: block;
	flex-grow: 1;
	flex-direction: row;
	.col {
		flex: 1;
		&.col-left {
			order: -1;
		}
		&.col-text {
			display: flex;
			align-items: center;
			justify-content:center;
			padding:20px;
			.aligner-item {
				max-width:600px;
				width:100%;
			}
		}
		&.col-image {
			background-size: cover;
			background-position:center center;
			flex-grow:1.5;
			img {
				float:left;
			}
		}
	}
}



/*END OF ALTERNATING CONTENT BLOCKS*/

/*DOWNLOADS*/

.downloads {
	text-align:center;
	.download {
		background:$darkGrey;
		display:inline-block;
		margin:5px 10px;
		padding:5px 10px;
		i.fa {
			color:$black;
			margin-left:10px;
		}
	}
}

/*END OF DOWNLOADS*/

/*CONTACT PAGE*/

.contact-page {
	padding-top:20px;
	.contact-top {
		background:$white;
		.left {
			padding-top:10px;
			.email,
			.phone {
				clear:both;
				margin-top:30px;
				.icon {
					background:$darkGrey;
					border-radius:100%;
					float:left;
					height:30px;
					position:relative;
					width:30px;
					i.fa {
						left:50%;
						position:absolute;
						top:50%;
						transform:translate(-50%,-50%);
						z-index:2;
					}
				}
				a {
					margin-left:15px;
					position:relative;
					top:7px;
				}
			}
		}
		.right {
			margin-top:40px;
			padding-right:0;
			iframe {
				float:left;
			}
		}
	}
	.contact-form {
		background:$white;
		margin-top:15px;
		form {
			margin-top:20px;
			input[type="text"],
			input[type="email"],
			input[type="number"],
			input[type="tel"],
			select,
			textarea {
				background:#f7f7f7;
				border:0;
				border-radius:0;
				color:$black;
				font-size:14px;
				height:40px;
				margin-bottom:10px;
				outline-color:$orange;
				outline-style:solid;
				outline-width:0;
				padding-left:10px;
				width:100%;
				&:focus,
				&:active {
					outline-width:1px;
				}
			}
			textarea {
				height:120px;
				margin-top:20px;
				padding-top:10px;
			}
			label {
				display:block;
				float:left;
				font-size:15px;
				font-weight:600;
				margin-bottom:10px;
				margin-top:15px;
			}
			.submit-button {
				text-align:center;
			}
		}
	}
	.location-blocks {
		background:$white;
		margin-top:15px;
		padding:20px 0;
		h4 {
			margin-top:20px;
		}
	}
	div.wpcf7-validation-errors {
		border:0;
		margin:20px 0 0 0;
		padding:0;
		text-align:center;
	}
	span.wpcf7-not-valid-tip {
		font-size:13px;
		margin-top:10px;
	}
	div.wpcf7-mail-sent-ok {
		border:0;
		margin:20px 0 0 0;
		padding:0;
		text-align:center;
	}
}

/*END OF CONTACT PAGE*/

/*CAREERS LISTING*/

.careers-listing {
	padding-top:60px;
	.item {
		background:$white;
		margin-top:10px;
		padding:15px;
		h2 {
			margin-bottom:5px;
		}
		.date {
			margin-bottom:10px;
		}
		a.apply {
			display:block;
			font-size:16px;
			font-weight:600;
			margin-top:10px;
		}
	}
	.apply-for-position {
		.item {
			h3 {
				text-align:center;
			}
			.contact-form {
				background:$white;
				margin-top:15px;
				form {
					margin-top:20px;
					input[type="text"],
					input[type="email"],
					input[type="number"],
					input[type="tel"],
					select,
					textarea {
						background:#f7f7f7;
						border:0;
						border-radius:0;
						color:$black;
						font-size:14px;
						height:40px;
						margin-bottom:10px;
						outline-color:$orange;
						outline-style:solid;
						outline-width:0;
						padding-left:10px;
						width:100%;
						&:focus,
						&:active {
							outline-width:1px;
						}
					}
					textarea {
						height:120px;
						margin-top:20px;
						padding-top:10px;
					}
					label {
						display:block;
						float:left;
						font-size:15px;
						font-weight:600;
						margin-bottom:10px;
						margin-top:15px;
					}
					.submit-button {
						text-align:center;
					}
				}
			}
		}
	}
}

/*END OF CAREERS LISTING*/

/*MEET THE TEAM*/

.team-members {
	clear:both;
	.team-row {
		padding-bottom:0;
		position:relative;
		transition:all 0.5s ease-in-out;
		.item {
			cursor:pointer;
			display:inline-block;
			padding-left:5px;
			padding-right:5px;
			position:relative;
			.inner {
				display:inline-block;
				margin-top:8px;
				padding:0;
				transition:all 0.3s ease-in-out;
				width:100%;
				.description {
					background:$white;
					margin-top:10px;
					padding:15px 15px 15px 15px;
					position:relative;
					transition:all 0.3s ease-in-out;
					.email {
						i.fa {
							font-size:35px;
						}
					}
					.close-description {
						position:absolute;
						right:10px;
						top:10px;
					}
				}
				.image {
					position:relative;
					img {
						display:block;
						margin:0 auto;
					}
					h4 {
						bottom:50px;
						left:50%;
						position:absolute;
						text-align:center;
						transform:translateX(-50%);
						width:90%;
					}
					&:after {
						bottom:-2px;
						color:$white;
						content:"\f0d8";
						font-family:FontAwesome;
						font-size:120px;
						left:50%;
						line-height:30px;
						opacity:1;
						position:absolute;
						transform:translateX(-50%);
						transition:all 0.3s ease-in-out;
					}
				}
			}
		}
	}
}

/*END OF MEET THE TEAM*/

/*FEEDBACK LISTING PAGE*/

.feedback-listing {
	clear:both;
	padding-top:20px;
	.item {
		margin-bottom:10px;
		padding-left:5px;
		padding-right:5px;
		transform: scale(1);
		.inner {
			box-shadow:0 0 0 -10px $black;
			transition:all 0.1s ease-in-out;
			.content {
				background:$white;
				display:inline-block;
				padding:30px 20px;
				width:100%;
				p {
					font-size:17px;
					font-style:italic;
				}
				h2 {
					font-size:13px;
					font-weight:600;
					margin-bottom:0;
				}
			}
		}
		&:hover {
			.inner {
				box-shadow:0 0 25px -10px $black;
			}
		}
	}
}

/*END OF FEEDBACK LISTING PAGE*/

/*LOCATIONS*/

.page-template-tpl-locations {
	.locations-page {
		padding:20px 15px 10px 15px;
		.grid-flex {
			background:$white;
		}
	}
}

/*END OF LOCATIONS*/

/*HOME PAGE*/

.home {
	.news-home,
	.feedback-home {
		.inner {
			.titles {
				display:flex;
				margin-bottom:20px;
				.left {
					margin-right:auto;
					h6 {
						margin-bottom:0;
					}
				}
				.right {
					font-size:12px;
					margin-right:0px;
					position:relative;
					a {
						color:$white;
						padding-right:15px;
					}
					&:after {
						content:"\f105";
						font-family:FontAwesome;
						font-size:14px;
						margin-right:2px;
						position:absolute;
						right:0;
						top:1px;
						transition:all 0.1s ease-in-out;
					}
					&:hover {
						&:after {
							margin-right:0px;
						}
					}
				}
			}
			.item {
				border-bottom:1px solid $white;
				margin-top:10px;
				padding-bottom:15px;
				.image {
					margin-top:8px;
				}
				.content {
					a {
						color:$white;
					}
				}
				&:last-child {
					border-bottom:0;
					padding-bottom:0;
				}
			}
		}
	}
	.news-home {
		.inner {
			background:$darkGreen;
			border-radius:3px;
			color:$white;
			margin-bottom:15px;
			padding:15px;
		}
	}
	.feedback-home {
		.inner {
			background:$orange;
			border-radius:3px;
			color:$white;
			padding:15px;
			.item {
				p {
					font-size:17px;
					font-style:italic;
				}
				h2 {
					font-size:13px;
					font-weight:600;
					margin-bottom:0;
				}
			}
			.home-testimonial-carousel {
				.item {
					border-bottom:0;
					outline-width:0;
					padding-bottom:0;
					.quote {
						padding:0 30px;
					}
				}
				.slick-prev,
				.slick-next {
					z-index:9;
					&:before {
						color:$white;
						font-family:FontAwesome;
						font-size:30px;
						opacity:1;
						transition:all 0.2s ease-in-out;
					}
					&:hover {
						&:before {
							color:$black;
						}
					}
				}
				.slick-prev {
					left:-5px;
					&:before {
						content:"\f104";
					}
				}
				.slick-next {
					right:-5px;
					&:before {
						content:"\f105";
					}
				}
			}
		}
	}
}

/*END OF HOME PAGE*/

/*COURSE QUICK SEARCH*/

.course-quick-search {
	background:$white;
	a.link.orange {
		display:block;
		float:none;
		font-size:15px;
		margin:15px 0;
		max-width:100%;
		padding:12px 18px;
	}
}

/*END OF COURSE QUICK SEARCH*/

/*COURSE LISTING*/

.course-listing {
	clear:both;
	padding-top:20px;
	.cat-title {
		padding-left:5px;
		padding-right:5px;
		h2 {
			font-size:24px;
			margin:20px 0 15px 0;
			a {
				color:$textColour;
			}
		}
	}
	.item {
		margin-bottom:10px;
		padding-left:5px;
		padding-right:5px;
		transform: scale(1);
		.inner {
			border-left:8px solid;
			border-radius:4px;
			box-shadow:0 0 0 -10px $black;
			position:relative;
			transition:all 0.1s ease-in-out;
			img {
				float:left;
			}
			.content {
				background:$white;
				display:inline-block;
				padding:10px;
				width:100%;
				h3 {
					font-size:16px;
					margin-bottom:20px;
					a {
						color:$textColour;
					}
				}
				a.article-link {
					color:$textColour;
					display:block;
					font-weight:600;
					margin-top:10px;
				}
				a.grey {
					cursor:pointer;
					margin-right:0;
				}
				a.grey,
				a.orange {
					margin-top:10px;
					max-width:100%;
					position:relative;
					width:100%;
					z-index:4;
				}
				.bg-overlay {
					background:rgba(0,0,0,0);
					height:100%;
					left:0;
					position:absolute;
					transition:all 0.2s ease-in-out;
					top:0;
					width:100%;
					z-index:-1;
				}
				.share-buttons {
					left:50%;
					opacity:0;
					position:absolute;
					top:50%;
					visibility:hidden;
					transform:translate(-50%,-50%);
					transition:all 0.4s ease-in-out;
					width:auto;
					z-index:3;
					.a2a_svg {
						height:24px;
						line-height:24px;
						width:24px;
					}
				}
			}
			&.active {
				.content {
					.share-buttons {
						opacity:1;
						visibility:visible;
					}
					.bg-overlay {
						background:rgba(0,0,0,0.7);
						z-index:2;
					}
				}
			}
		}
		&:hover {
			.inner {
				box-shadow:0 0 25px -10px $black;
			}
		}
	}
}

/*END OF COURSE LISTING*/

/*COURSE DETAIL PAGE*/

.course-detail-page {
	.top-section {
		a.link {
			cursor:pointer;
			margin:20px 10px 0 0;
		}
		h1 {
			font-size:24px;
		}
		.share-buttons {
			clear:both;
			padding-top:10px;
		}
	}
}

/*END OF COURSE DETAIL PAGE*/

/*CALENDAR*/

.calendar-page {
	#calendar {
		margin-top:30px;
		.fc-event {
			border:0px solid transparent;
		}
		.fc-widget-header {
			color:$textColour;
			font-size:16px;
			font-weight:600;
		}
		.fc-day-grid-event {
			border-radius:30px;
			.fc-content {
				border-radius:30px;
				font-size:11px;
				padding:10px;
			}
		}
		.fc td,
		.fc th	{
			border-width:2px;
		}
		button.fc-today-button {
			background:$orange;
			color:$textColour;
			border:0;
			border-radius:2px;
			color:$white;
			font-family:'Maven Pro', sans-serif;
			font-weight:500;
			height:auto;
			outline-width:0;
			padding:10px 22px;
			text-shadow:none;
			text-transform:capitalize;
			transition:all 0.2s ease-in-out;
			&.fc-state-active {
				background:$textColour;
			}
			&:hover {
				background:$textColour;
			}
		}
		.fc-button-group {
			background:$orange;
			button {
				background:transparent;
				border:0;
				border-radius:2px;
				color:$white;
				font-family:'Maven Pro', sans-serif;
				font-weight:500;
				height:auto;
				outline-width:0;
				padding:10px 22px;
				text-shadow:none;
				text-transform:capitalize;
				transition:all 0.2s ease-in-out;
				&.fc-state-active {
					background:$textColour;
				}
				&:hover {
					background:$textColour;
				}
			}
		}
	}
}

/*END OF CALENDAR*/

/*RESPONSIVE*/

@media (min-width:500px) {

	.home {
		.news-home,
		.feedback-home {
			.inner {
				.titles {
					margin-bottom:25px;
					.right {
						font-size:16px;
						margin-right:15px;
						&:after {
							font-size:20px;
							margin-right:-10px;
						}
						&:hover {
							&:after {
								margin-right:-12px;
							}
						}
					}
				}
			}
		}
	}

}

@media (min-width:768px) {

	.course-detail-page {
		.top-section {
			a.link {
				float:right;
				margin:10px 0 0 10px;
			}
		}
	}
	.course-listing {
		.item {
			.inner {
				.content {
					a.grey {
						margin-right:10px;
					}
					a.grey,
					a.orange {
						max-width:200px;
						width:auto;
					}
				}
			}
		}
	}
	.team-members {
		.team-row {
			padding-bottom:0;
			position:relative;
			transition:all 0.5s ease-in-out;
			.item {
				cursor:pointer;
				display:inline-block;
				padding-left:5px;
				padding-right:5px;
				position:static;
				.inner {
					display:inline-block;
					margin-top:8px;
					padding:0;
					transition:all 0.3s ease-in-out;
					width:100%;
					.description {
						background:$white;
						bottom:0;
						left:5px;
						margin-top:10px;
						opacity:0;
						padding:15px 150px 15px 15px;
						position:absolute;
						transition:all 0.3s ease-in-out;
						visibility:hidden;
						width:calc(100% - 10px);
						.email {
							position:absolute;
							right:100px;
							top:50%;
							transform:translateY(-50%);
							i.fa {
								font-size:35px;
							}
						}
						.close-description {
							position:absolute;
							right:10px;
							top:10px;
						}
					}
					.image {
						position:relative;
						h4 {
							bottom:50px;
							left:50%;
							position:absolute;
							text-align:center;
							transform:translateX(-50%);
							width:90%;
						}
						&:after {
							bottom:-2px;
							color:$white;
							content:"\f0d8";
							font-family:FontAwesome;
							font-size:120px;
							left:50%;
							line-height:30px;
							opacity:0;
							position:absolute;
							transform:translateX(-50%);
							transition:all 0.3s ease-in-out;
						}
					}
				}
			}
			&.active {
				padding-bottom:154px;
				.item {
					.inner {
						&.active {
							.description {
								opacity:1;
								visibility:visible;
								z-index:9;
							}
							.image {
								&:after {
									opacity:1;
								}
							}
						}
					}
				}
			}
		}
	}
	.careers-listing {
		.item {
			a.apply {
				font-size:22px;
				margin-top:45px;
				text-align:right;
			}
		}
	}
	.contact-page {
		.contact-top {
			.right {
				margin-top:0;
			}
		}
	}
	.downloads {
		margin:30px 0;
		h2 {
			text-align:center;
		}
		.download {
			font-size:16px;
			font-weight:600;
			margin:5px 5px;
			padding:10px 18px;
			transition:all 0.1 ease-in-out;
			i.fa {
				margin-left:10px;
				transition:all 0.1s ease-in-out;
			}
			&:hover {
				background:$orange;
				color:$white;
				i.fa {
					color:$white;
				}
			}
		}
	}
	.grid-flex {
		display: flex;
	}
	.top-link-bar {
		ul {
			li {
				font-size:15px;
				padding-right:30px;
			}
		}
	}
	.news-listing {
		.category-filter {
			display:block;
			width:25%;
			.category-item {
				width:100%;
			}
		}
	}
	body {
		margin-top:125px;
	}
	footer {
		padding:20px 0;
		text-align:left;
		.left {
			img {
				clear:both;
				float:none;
				margin:0 0 20px 0;
			}
		}
		.right {
			margin-top:0;
			.social {
				float:right;
				max-width:200px;
				a {
					margin-left:17px;
					padding:16px;
					i.fa {
						font-size:18px;
					}
				}
			}
			form.subscribe {
				input[type="submit"] {
					margin-bottom:10px;
				}
				input[type="checkbox"] {
					float:left;
					margin:0 10px 0 0;
				}
				input[type="text"] {
					max-width:100%;
				}
			}
		}
	}
	header.header {
		height:125px;
		min-height:auto;
		padding:0;
		.top-header {
			font-size:14px;
			padding:15px 0;
			.right {
				margin-top:-18px;
				text-align:right;
				img.user-icon {
					margin-left:10px;
					max-width:32px;
					position:relative;
					top:11px;
				}
			}

		}
		.main-header {
			.logo {
				float:left;
				img {
					max-width:110px;
				}
			}
			nav.menu {
				float:left;
				margin-left:40px;
				opacity:1;
				position:relative;
				top:16px;
				visibility:visible;
				width:auto;
				z-index:9;
				ul {
					padding:2px 0 0 0;
					li {
						font-size:13px;
						margin-bottom:0;
						width:auto;
						a {
							color:$black;
							padding:15px 10px 8px 10px;
						}
						&:hover,
						&.current-menu-item {
							a {
								border-bottom:2px solid $black;
							}
						}
						&:last-child {
							a {
								padding:15px 8px 13px 8px;
							}
						}
						&:hover {
							& > ul.sub-menu {
								box-shadow:4px 4px 7px -5px #000;
								max-height:800px;
								opacity:1;
								li {

								}
							}
						}
						ul.sub-menu {
							background:$red;
							display:block;
							list-style: none;
							position: absolute;
							max-height: 0;
							opacity:0;
							overflow: hidden;
							padding:0;
							right:-80px;
							top:43px;
							width:210px;
							transition:all 0.1s ease-in-out;
							z-index:99;
							& > li {
								font-size:13px;
								width:100%;
								& > a {
									border-bottom:0;
									color:$white;
									display:block;
									padding:10px 5px;
									transition:all 0.1s ease-in-out;
									width:100%;
									&:hover {
										background:$orange;
									}
								}
								& > ul.sub-menu {
									position:relative;
								}
							}
						}
						&.menu-item-has-children {
							i.nav-dropdown {
								font-size:12px;
								right:0;
								top:18px;
							}
						}
					}
				}
			}
			.cart-block {
				float:right;
				right:0;
			}
		}
		i.nav-icon {
			display:none;
		}
	}
	img {
		&.alignright {
			float:none;
			margin-bottom:20px;
			margin-left:0;
		}
	}
	h1 {
		font-size:34px;
	}
	h2 {
		font-size:28px;
	}
	h3 {
		font-size:24px;
	}
	h4 {
		font-size:21px;
	}
	h5 {
		font-size:19px;
	}
	h6 {
		font-size:16px;
	}

}

@media (min-width:992px){

	.course-detail-page {
		.top-section {
			text-align:right;
			h1,
			p {
				text-align:left;
			}
			a.link {
				float:none;
				font-size:16px;
				margin:25px 0 0 10px;
				padding:10px 18px;
			}
		}
	}
	.team-members {
		.team-row {
			&.active {
				padding-bottom:117px;
			}
		}
	}
	.careers-listing {
		.item {
			a.apply {
				margin-top:70px;
			}
		}
	}
	.news-listing {
		.category-filter {
			.category-item {
				width:50%;
			}
		}
	}
	body {
		margin-top:135px;
	}
	header.header {
		height:135px;
		.main-header {
			.logo {
				img {
					max-width:140px;
				}
			}
			nav.menu {
				margin-left:50px;
				top:20px;
				ul {
					li {
						font-size:15px;
						a {
							padding:18px 15px 7px 15px;
						}
						&.current-menu-item {
							a {
								border-bottom:1px solid $orange;
							}
						}
						&:hover {
							a {
								border-bottom:1px solid $orange;
							}
						}
						ul.sub-menu {
							right:-68px;
							top:48px;
						}
						&.menu-item-has-children {
							i.nav-dropdown {
								right:4px;
								top:21px;
							}
						}
					}
				}
			}
			.cart-block {
				background:$orange;
				border-radius:2px;
				color:$white;
				float:right;
				padding:8px 28px 6px 8px;
				position:relative;
				.left {
					float:left;
					margin-top:5px;
					i.cart-icon {
						color:$white;
						font-size:25px;
					}
				}
				.right {
					display:block;
					float:left;
					margin-left:20px;
					.top {
						font-size:18px;
						margin-top:-3px;
					}
				}
				&:after {
					content:"\f105";
					font-family:FontAwesome;
					font-size:16px;
					position:absolute;
					right:8px;
					top:16px;
				}
			}
		}
	}
	img {
		&.alignright {
			float:right;
			margin-bottom:20px;
			margin-left:30px;
			max-width:400px;
		}
	}

}

@media (min-width:1200px){

	.course-listing {
		.item {
			.inner {
				.content {
					padding:15px;
					h3 {
						font-size:20px;
					}
					.share-buttons {
						.a2a_svg {
							height:40px;
							line-height:40px;
							margin:0 5px;
							width:40px;
						}
					}
				}
			}
		}
	}
	.home {
		.feedback-home {
			.inner {
				.home-testimonial-carousel {
					.item {
						.quote {
							padding:20px 100px;
						}
					}
					.slick-prev {
						left:50px;
					}
					.slick-next {
						right:55px;
					}
				}
			}
		}
	}
	.feedback-listing {
		.item {
			.inner {
				.content {
					h2 {
						margin-bottom:0;
					}
				}
			}
		}
	}
	.team-members {
		.team-row {
			&.active {
				padding-bottom:123px;
			}
		}
	}
	.news-listing {
		.item {
			.inner {
				.content {
					padding:15px;
					h2 {
						font-size:20px;
						margin-bottom:0;
					}
				}
			}
		}
	}
	body {
		margin-top:140px;
	}
	footer {
		.left {
			img {
				margin:0 0 10px 0;
			}
		}
		.right {
			h4 {
				margin-left:20px;
			}
			form.subscribe {
				float:right;
				max-width:640px;
				input[type="text"] {
					color:$darkGreen;
					float:left;
					margin-right:2%;
					outline-width:0;
					width:76%;
				}
				input[type="submit"] {
					float:left;
					margin-bottom:0;
					margin-top:0;
					transition:all 0.1s ease-in-out;
					width:22%;
					&:hover {
						background:$blue;
					}
				}
				input[type="checkbox"] {
					clear:both;
					float:left;
					margin:15px 10px 0 0;
				}
				label {
					float:left;
					margin-top:15px;
					width:94%;
				}
			}
		}
	}
	body {
		font-size:15px;
	}
	img {
		&.alignright {
			max-width:450px;
		}
	}
	header.header {
		height:140px;
		.main-header {
			.logo {
				img {
					max-width:150px;
				}
			}
			nav.menu {
				ul {
					li {
						font-size:16px;
						a {
							padding:18px 20px 7px 18px;
						}
						&.menu-item-has-children {
							i.nav-dropdown {
								right:6px;
								top:22px;
							}
						}
						ul.sub-menu {
							right:-62px;
							top:49px;
						}
					}
				}
			}
			.cart-block {
				padding:12px 40px 10px 15px;
				.left {
					i.cart-icon {
						font-size:30px;
					}
				}
				.right {
					.top {
						font-size:19px;
					}
				}
				&:after {
					font-size:18px;
					top:18px;
				}
			}
		}
	}

}

/*END OF RESPONSIVE*/