$white:#FFFFFF;
$textColour:#00303e;
$textColourLight:#4a7071;
$black:#1d1d1b;
$lightGrey:#f4f5f9;
$lighterGrey:#f3f4f6;
$orange:#ff671c;
$green:#16a086;
$red:#e84c3d;
$blue:#3598db;
$darkGreen:#00303c;




/*LAYOUT*/

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Maven Pro', sans-serif;
	font-weight:500;
	line-height:normal;
	margin-bottom:10px;
}

h1 {
	font-size:28px;
}

h2 {
	font-size:24px;
}

h3 {
	font-size:21px;
}

h4 {
	font-size:19px;
}

h5 {
	font-size:17px;
}

h6 {
	font-size:16px;
}

p {
	line-height:normal;
	margin-bottom:10px;
}
img {
	border:0;
	height:auto;
	max-width:100%;
	&.alignleft {
		clear:left;
		float:left;
		margin:0 10px 0 0;
	}
	&.aligncenter {
		display:block;
		margin:0 auto 10px auto;
	}
	&.alignright {
		display:block;
		margin:0 auto 10px auto;
	}
}
strong {
	font-weight:900;
}
em {
	font-style:italic;
}
ul {
	list-style-type:disc;
	margin:8px 0 8px 15px;
	li {
		margin-bottom:5px;
	}
}
ol {
	list-style-type:decimal;
	margin:8px 0 8px 15px;
	li {
		margin-bottom:5px;
	}
}
blockquote {
	background:$black;
	color:$white;
	font-size:20px;
	line-height:normal;
	margin:30px 0;
	padding:30px 40px;
	text-align:center;
	p {
		margin-bottom:0;
	}
}
a {
	color:$black;
	text-decoration:none;
	transition:all 0.2s ease-in-out;
	&:hover,
	&:active,
	&:focus {
		color:$black;
		text-decoration:none;
	}
	&.link {
		background:$white;
		border:0;
		color:$black;
		display:inline-block;
		float:left;
		font-weight:900;
		padding:10px 25px;
		max-width:200px;
		text-align:center;
		text-transform:uppercase;
		&:hover {
			background:$black;
			border-color:$black;
			color:$white;
		}
	}
}
input[type="submit"] {
	background:$black;
	border:2px solid $black;
	color:$black;
	display:block;
	font-size:18px;
	font-weight:900;
	padding:10px 15px;
	margin:20px auto 0 auto;
	max-width:200px;
	text-align:center;
	text-transform:uppercase;
	&:focus {
		outline-width:0
	}
	&:hover {
		background:$black;
		border:2px solid $black;
		color:$white;
	}
}
body {
	color:$black;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:14px;
	font-weight:400;
	line-height:normal;
	margin-bottom:65px;
	margin-top:155px;
}
body.post-type-archive-rooms {
	margin-top:155px;
}
#cookie-notice .button.bootstrap {
	background-color:$white;
	background-image:none;
	border:0;
	color:$black;
}
#cookie-notice .button.bootstrap:hover,
#cookie-notice .button.bootstrap:focus {
	background-color:#FFF;
	color:#000;
}
.narrow {
	margin:0 auto;
	max-width:820px;
	text-align:center;
	&.clear {
		background:transparent !important;
	}
}
/*END OF LAYOUT*/

/*FOOTER*/

footer {
	background:$darkGreen;
	color:$white;
	padding:10px 0;
	text-align:center;
	a {
		color:$white;
	}
	.left {
		img {
			display:block;
			margin:0 auto 20px auto;
		}
	}
	.right {
		margin-top:20px;
		.social {
			display:block;
			float:none;
			margin:20px auto 0 auto;
			max-width:150px;
			a {
				border-radius:100%;
				display:block;
				float:left;
				margin-left:6px;
				padding:15px;
				position:relative;
				&.facebook {
					background:#3b5998;
				}
				&.twitter {
					background:#1da1f2;
				}
				&.youtube {
					background:#ff0000;
				}
				&.linkedin {
					background:#0077b5;
				}
				i.fa {
					font-size:16px;
					left:50%;
					position:absolute;
					top:55%;
					transform:translate(-50%,-55%);
				}
				&:hover {
					background:$orange;
					color:$white;
				}
			}
		}
		form.subscribe {
			line-height:11px;
			input[type="text"] {
				border:0;
				border-radius:4px;
				height:40px;
				max-width:400px;
				padding-left:15px;
				width:100%;
			}
			input[type="submit"] {
				background:$orange;
				border-radius:4px;
				border:0;
				color:$white;
				font-weight:600;
				height:40px;
				margin-top:10px;
				padding:0 22px;
				text-transform:none;
			}
			input[type="checkbox"] {
				display:block;
				height:15px;
				margin:10px auto 0 auto;
				width:15px;
			}
			label {
				font-size:10px;
			}
			::placeholder {
				color:#999;
			}
		}
	}
}

/*END OF FOOTER*/

/*NAVIGATION*/

header.header {
	background:$white;
	box-shadow:0 0 0 0 $black;
	color:$black;
	min-height:132px;
	padding:0 0 10px 0;
	position:fixed;
	top:0;
	transition:all 0.4s ease-in-out;
	width:100%;
	z-index:999;
	.top-header {
		background:$orange;
		color:$white;
		font-size:13px;
		padding:8px 0;
		text-align:center;
		a {
			color:$white;
		}
		.right {
			margin-top:0;
			img.user-icon {
				margin-left:10px;
				max-width:20px;
				position:relative;
				top:6px;
			}
		}
	}
	.main-header {
		.logo {
			font-size:18px;
			margin:10px auto 0 auto;
			position:relative;
			text-align:center;
			img {
				display:block;
				float:none;
				margin:0 auto;
				max-width:78px;
			}
		}
		nav.menu {
			display:inline-block;
			float:right;
			left:0;
			opacity:0;
			position:absolute;
			text-transform:uppercase;
			top:-300px;
			transition:top 0.2s, opacity 0.4s ease-in-out;
			visibility:hidden;
			width:100%;
			z-index:-1;
			ul {
				display:inline-block;
				float:left;
				list-style-type:none;
				margin:0 auto;
				padding:8px 0 10px 0;
				width:100%;
				li {
					float:left;
					font-size:16px;
					font-weight:600;
					position:relative;
					text-align:center;
					text-transform:uppercase;
					width:100%;
					a {
						border-bottom:0px solid $black;
						color:$black;
						display:block;
						padding:12px;
						text-decoration:none;
					}
					&.menu-item-has-children {
						i.nav-dropdown {
							color:$orange;
							cursor:pointer;
							font-size:18px;
							position:absolute;
							right:30px;
							top:14px;
						}
					}
					ul.sub-menu {
						display:none;
					}
				}
			}
			&.active {
				box-shadow:0 25px 50px -30px #000000;
				opacity:1;
				top:70px;
				visibility:visible;
				ul {
					li {
						a {
							color:$black;
							&:hover {
								color:$black;
							}
						}
					}
				}
				&.nav-up {
					top:200px;
				}
				&.nav-down {
					top:110px;
				}
			}
		}
		&.header-up {
			top:-200px;
		}
		&.header-down {
			box-shadow:0 0 50px -10px #000000;
			top:0;
		}
		i.nav-icon {
			color:$darkGreen;
			cursor:pointer;
			font-size:40px;
			left:15px;
			position:absolute;
			top:70px;
			transition:all 0.2s ease-in-out;
			&.active {
				color:$black;
				transform:rotate(-45deg);
			}
		}
		.cart-block {
			position:absolute;
			right:15px;
			top:12px;
			.left {
				i.fa {
					color:$darkGreen;
					font-size:40px;
				}
			}
			.right {
				display:none;
			}
		}
	}
}

/*END OF NAVIGATION*/

/*RESPONSIVE*/

@media (min-width:768px) {

	footer {
		padding:20px 0;
		text-align:left;
		.left {
			img {
				clear:both;
				float:none;
				margin:0 0 20px 0;
			}
		}
		.right {
			margin-top:0;
			.social {
				float:right;
				max-width:200px;
				a {
					margin-left:17px;
					padding:16px;
					i.fa {
						font-size:18px;
					}
				}
			}
			form.subscribe {
				input[type="submit"] {
					margin-bottom:10px;
				}
				input[type="checkbox"] {
					float:left;
					margin:0 10px 0 0;
				}
				input[type="text"] {
					max-width:100%;
				}
			}
		}
	}
	body {
		margin-bottom:85px;
		margin-top:115px;
	}
	header.header {
		height:98px;
		min-height:auto;
		padding:0;
		.top-header {
			font-size:14px;
			padding:15px 0;
			.right {
				margin-top:-18px;
				text-align:right;
				img.user-icon {
					margin-left:10px;
					max-width:32px;
					position:relative;
					top:11px;
				}
			}

		}
		.main-header {
			.logo {
				float:left;
				img {
					max-width:110px;
				}
			}
			nav.menu {
				float:left;
				margin-left:40px;
				opacity:1;
				position:relative;
				top:16px;
				visibility:visible;
				width:auto;
				z-index:9;
				ul {
					padding:2px 0 0 0;
					li {
						font-size:13px;
						margin-bottom:0;
						width:auto;
						a {
							color:$black;
							padding:15px 10px 8px 10px;
						}
						&:hover,
						&.current-menu-item {
							a {
								border-bottom:2px solid $black;
							}
						}
						&:last-child {
							a {
								padding:15px 8px 13px 8px;
							}
						}
						&:hover {
							& > ul.sub-menu {
								box-shadow:4px 4px 7px -5px #000;
								max-height:800px;
								opacity:1;
								li {

								}
							}
						}
						ul.sub-menu {
							background:rgba(9, 41, 52, 0.8);
							display:block;
							list-style: none;
							position: absolute;
							max-height: 0;
							opacity:0;
							overflow: hidden;
							padding:0;
							right:-80px;
							top:43px;
							width:210px;
							transition:all 0.3s ease-in-out;
							z-index:99;
							& > li {
								font-size:13px;
								width:100%;
								& > a {
									border-bottom:0;
									color:$white;
									display:block;
									padding:10px 5px;
									width:100%;
								}
								& > ul.sub-menu {
									position:relative;
								}
								&:hover {
									& > a {
										color: $orange;
									}
								}
							}
						}
						&.menu-item-has-children {
							i.nav-dropdown {
								font-size:12px;
								right:0;
								top:18px;
							}
						}
					}
				}
			}
			.cart-block {
				float:right;
				right:0;
			}
		}
		i.nav-icon {
			display:none;
		}
	}
	img {
		&.alignright {
			float:none;
			margin-bottom:20px;
			margin-left:0;
		}
	}
	h1 {
		font-size:34px;
	}
	h2 {
		font-size:28px;
	}
	h3 {
		font-size:24px;
	}
	h4 {
		font-size:21px;
	}
	h5 {
		font-size:19px;
	}
	h6 {
		font-size:16px;
	}

}

@media (min-width:992px){

	header.header {
		height:111px;
		.main-header {
			.logo {
				img {
					max-width:140px;
				}
			}
			nav.menu {
				margin-left:50px;
				top:20px;
				ul {
					li {
						font-size:15px;
						a {
							padding:18px 15px 7px 15px;
						}
						&.current-menu-item {
							a {
								border-bottom:3px solid $black;
							}
						}
						&:hover {
							a {
								border-bottom:3px solid $black;
							}
						}
						ul.sub-menu {
							right:-68px;
							top:48px;
						}
						&.menu-item-has-children {
							i.nav-dropdown {
								right:4px;
								top:21px;
							}
						}
					}
				}
			}
			.cart-block {
				background:$orange;
				border-radius:2px;
				color:$white;
				float:right;
				padding:8px 28px 6px 8px;
				position:relative;
				.left {
					float:left;
					margin-top:5px;
					i.cart-icon {
						color:$white;
						font-size:25px;
					}
				}
				.right {
					display:block;
					float:left;
					margin-left:20px;
					.top {
						font-size:18px;
						margin-top:-3px;
					}
				}
				&:after {
					content:"\f105";
					font-family:FontAwesome;
					font-size:16px;
					position:absolute;
					right:8px;
					top:16px;
				}
			}
		}
	}
	img {
		&.alignright {
			float:right;
			margin-bottom:20px;
			margin-left:30px;
			max-width:400px;
		}
	}
	body {
		margin-top:130px;
	}

}

@media (min-width:1200px){

	footer {
		.left {
			img {
				margin:0 0 10px 0;
			}
		}
		.right {
			h4 {
				margin-left:20px;
			}
			form.subscribe {
				float:right;
				max-width:640px;
				input[type="text"] {
					color:$darkGreen;
					float:left;
					margin-right:2%;
					outline-width:0;
					width:76%;
				}
				input[type="submit"] {
					float:left;
					margin-bottom:0;
					margin-top:0;
					transition:all 0.2s ease-in-out;
					width:22%;
					&:hover {
						background:$blue;
					}
				}
				input[type="checkbox"] {
					clear:both;
					float:left;
					margin:15px 10px 0 0;
				}
				label {
					float:left;
					margin-top:15px;
					width:94%;
				}
			}
		}
	}
	body {
		font-size:15px;
	}
	img {
		&.alignright {
			max-width:450px;
		}
	}
	header.header {
		height:113px;
		.main-header {
			.logo {
				img {
					max-width:150px;
				}
			}
			nav.menu {
				ul {
					li {
						font-size:16px;
						a {
							padding:18px 20px 7px 18px;
						}
						&.menu-item-has-children {
							i.nav-dropdown {
								right:6px;
								top:22px;
							}
						}
						ul.sub-menu {
							right:-62px;
							top:49px;
						}
					}
				}
			}
			.cart-block {
				padding:12px 40px 10px 15px;
				.left {
					i.cart-icon {
						font-size:30px;
					}
				}
				.right {
					.top {
						font-size:19px;
					}
				}
				&:after {
					font-size:18px;
					top:18px;
				}
			}
		}
	}

}

/*END OF RESPONSIVE*/